<div class="content-section">
  <div class="message-block message-success">
    <div class="message-block-content">
      <strong>É tempo de celebrar um novo Openredu!</strong></br></br>Estamos comemorando o lançamento da versão 1.1.0 do openredu, codename <b>Exodia</b>. Contamos com a sua participação nos canais oficiais da comunidade:
      <ul style="list-style-type: none;">
        <li>
          <%= link_to "Fórum", "http://forum.openredu.com", :target => "_blank", :class => "icon-help-central-lightblue_16_18-before" %>
        </li>
        <li>
          <%= link_to "Facebook",
            "http://facebook.com/openredu", :target => "_blank",
            :class => "icon-help-central-lightblue_16_18-before" %>
        </li>
        <li>
          <%= link_to "Nos envie uma Mensagem",
            "mailto:contato@openredu.com",
            :class => "icon-message-lightblue_16_18-before" %>
        </li>
      </ul>
      </br><small>Esta instância de demostração é mantida pela UFPE com o apoio da comunidade Openredu para fins de pesquisa, portanto não garantimos seu perfeito funcionamento </small>
    </div>
  </div>
</div>
